body {
  background-color: #606979;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.City {
  margin-top: 30px;
  width: 500px;
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: rgb(231,231,231);
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  height: 40pt;
  font-size: 20pt;
  background-color: rgb(231,231,231);
  width: 100%;
  box-sizing: border-box;
}

.City-items-container {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  text-align: left;
}
.City-items-container div {
  color: #000000;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(231,231,231);
  border-bottom: 1px solid #d4d4d4;
  text-align: left;
}
.City-items-container div:hover {
  background-color: #a9a9ff;
}
.City-items-active {
  background-color: DodgerBlue !important;
  height: 21pt;
  font-size: 14pt;
}
.City-items{
  height: 21pt;
  font-size: 14pt;
}
.City-name{
  font-size: 25pt;
}
.local-time{
  font-size: 20pt;
  margin-bottom: 50px;
}
.weather-container {
  margin-top: 50px;
  transition: opacity 1s;
  opacity: 1;
  height: 400px;
}
.weather-container-hide {
  opacity: 0;
  margin-top: 50px;
  pointer-events: none;
}
footer {
  padding-bottom: 60px;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
a {
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 231);
  cursor: pointer;
  text-decoration: underline;
}
a:hover{
  color: rgb(150, 150, 205);
}